# viewResolver와 Database, Server의 기본 설정값을 지정.
server:
  port: 8080
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true
      
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:8089/security?serverTimezone=Asia/Seoul
    username: root
    password: qweasd12!
    
#  mustache가 자동으로 잡는 viewResolver 설정.
#  mvc:
#    view:
#      prefix: /templates/
#      suffix: .mustache

  jpa:
    hibernate:
      ddl-auto: create #create update none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true

# oauth2 설정, pom.xml에서 의존성 추가되었는지부터 확인
# Google API Console에서 Oauth 동의 화면을 눌러 외부 설정, URI를 추가. http://localhost:8080/login/oauth2/code/google
# 사용자 인증 정보에 적힌 정보들을 아래 설정에 적기    
  security:
    oauth2:
      client:
        registration:          google:
            client-id: 691912092566-ur70kvgdooc53907r4i7fcsmdser0n42.apps.googleusercontent.com
            client-secret: SPqT3GxYF1bzg3DArI7_QAez
            scope:            - email
            - profile