# viewResolver와 Database, Server의 기본 설정값을 지정.
server:
  port: 8080
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true
      
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/security?serverTimezone=Asia/Seoul
    username: root
    password: koreait2020
    
#  mustache가 자동으로 잡는 viewResolver 설정(이 설정이 자동으로 생성되어 있음).
#  mvc:
#    view:
#      prefix: /templates/
#      suffix: .mustache

  jpa:
    hibernate:
      ddl-auto: create #create update none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true

# oauth2 설정, pom.xml에서 의존성 추가되었는지부터 확인
  security:
    oauth2:
      client:
        registration:
          # Google API Console에서 Oauth 동의 화면을 눌러 외부 설정, URI를 추가. http://localhost:8080/login/oauth2/code/google
          # 사용자 인증 정보에 적힌 정보들을 아래 설정에 적기              google:
            client-id: 691912092566-ur70kvgdooc53907r4i7fcsmdser0n42.apps.googleusercontent.com
            client-secret: SPqT3GxYF1bzg3DArI7_QAez
            scope:            - email
            - profile
          # 라인 맞춰야됨에 주의
          # facebook API Console에서 앱<기타>로 만든 후 기본 설정에서 URI를 추가. http://localhost:8080
          # 제공하는 scope 이름을 정확하게 입력해야 함
          facebook:
            client-id: 356732122221705
            client-secret: 844ac07cd60a9a9ee9e05cd79e2092d1
            scope:
            - email
            - public_profile
          naver:
            client-id: qENoK7Dc3HA4f91MdWR5
            client-secret: _o5dItZWHM
            scope:            - name
            - email
            client-name: Naver
            authorization-grant-type: authorization_code # OAuth2 토큰을 JWT토큰으로 반환, 리액트에서 사용
            redirect-uri: http://localhost:8080/login/oauth2/code/naver # 구글, 페북은 이것이 자동으로 설정되어 있음
            # - profile_image 라는 항목도 있지만, 사용하지 않으므로 지움
            
        provider: 
          naver: # 네이버는 provider가 따로 없으므로 이러한 설정을 해주어야 함
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response # 회원정보를 json으로 받는데 response라는 키값으로 네이버가 리턴해줌
                